<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>publicAuditing_2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>one</servlet-name>
    <servlet-class>com.user.persoalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>one</servlet-name>
    <url-pattern>/pinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>two</servlet-name>
    <servlet-class>com.user.SequrityInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>two</servlet-name>
    <url-pattern>/sinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>three</servlet-name>
    <servlet-class>com.user.Bank_Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>three</servlet-name>
    <url-pattern>/binfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>four</servlet-name>
    <servlet-class>com.user.Password_Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>four</servlet-name>
    <url-pattern>/pwdinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>five</servlet-name>
    <servlet-class>com.user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>five</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>six</servlet-name>
    <servlet-class>com.user.userPurchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>six</servlet-name>
    <url-pattern>/userpur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seven</servlet-name>
    <servlet-class>com.user.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seven</servlet-name>
    <url-pattern>/adlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eight</servlet-name>
    <servlet-class>com.user.HMM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eight</servlet-name>
    <url-pattern>/hmmalgo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nine</servlet-name>
    <servlet-class>com.user.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nine</servlet-name>
    <url-pattern>/adacount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ten</servlet-name>
    <servlet-class>com.user.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ten</servlet-name>
    <url-pattern>/adlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eleven</servlet-name>
    <servlet-class>com.user.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eleven</servlet-name>
    <url-pattern>/userlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aaa</servlet-name>
    <servlet-class>com.user.HMM2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aaa</servlet-name>
    <url-pattern>/hmm2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbb</servlet-name>
    <servlet-class>com.user.HMM3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbb</servlet-name>
    <url-pattern>/hmm3</url-pattern>
  </servlet-mapping>
</web-app>